.newest-job                     { overflow: hidden;}
.more                           { position: absolute; bottom: 7px;}
.alert-label                    { position: absolute; right: 0; top:0px;}
.text-alert-width               { width: 175px;}