/* ~~~~~~~~~~General~~~~~~~~~~~~ */

@font-face 					{ font-family:'Helvetica Neue Normal'; src: url('HelveticaNeue.otf');}
body						{ background:url("../img/whole-back.png"); padding:0; margin:0; font-family: 'Helvetica Neue Normal','helvetica Neue',helvetica,arial,sans-serif; font-size:13px;}
ul					        { margin:0; padding:0}
ul li						{ list-style:none;}
a							{ text-decoration:none;}
label                       { font-weight:normal;}
.w-center					{ width:960px; margin:0 auto;}
.no-padding					{ padding:0;}
.no-padding-left            { padding-left:0;}
.no-padding-right           { padding-right:0;}
.no-margin					{ margin:0;}
.no-background              { background:none;}

.padding-5					{ padding:5px;}
.padding-10                 { padding:10px;}
.padding-5-0				{ padding:5px 0;}
.padding-10-0				{ padding:10px 0;}
.padding-0-5				{ padding:0 5px;}
.padding-5-10				{ padding:5px 10px;}
.padding-8-5                { padding:8px 5px;}
.p-10                       { padding:10px;}
.p-15                       { padding:15px;}

.margin-5					{ margin:5px;}
.margin-5-0                 { margin:5px 0;}
.margin-10					{ margin:10px;}
.margin-10-0				{ margin:10px 0;}
.margin-15-0                { margin:15px 0;}
.margin-0-5                 { margin:0 5px;}
.margin-bottom-5            { margin-bottom:5px;}
.margin-bottom-10           { margin-bottom:10px;}
.margin-bottom-15           { margin-bottom:15px; }
.margin-top-5               { margin-top:5px;}
.margin-top-10              { margin-top:10px;}
.margin-top-15              { margin-top:15px;}
.margin-10-15               { margin:10px 15px;}

.pos-relative               { position: relative;}
.panel-login                { background:#ffffff;}

.logo                       { margin:15px 0;}
.up-10                      { position:relative; top:-7px;}
.display-block              { display: block;}

.fixed-bottom				{ position:fixed; bottom:0;}
.fixed-left					{ position:fixed; left:0;}
.full-w						{ width:100%;}
.w70                        { width:71%; margin-right:1%; float:left;}
.w30                        { width:28%; float:left;}
.loading                    { display:inline-block; width:16px; height:16px; background:url("../img/ajax-loader.gif")}
/*~~~~~~~~~~Text Shadow~~~~~~~~~~~~~*/
.text-shadow				{ text-shadow:1px 1px 0 #144568;}
.text-overflow              { text-overflow:ellipsis; overflow:hidden; white-space:nowrap; height:27px;}
.text-justify               { text-align: justify;}
.shadow-white				{ text-shadow:1px 1px 0 #fff;}
.shadow-red					{ text-shadow:1px 1px 0 #8a1515;}


/*~~~~~~~~~~box~~~~~~~~~~~~~*/
.box-white                  { background:#fff; border:#ccc solid 1px;}
.box-gray                   { background:#f5f5f5; border:#ccc solid 1px;}

/*~~~~~~~~~~Header~~~~~~~~~~~~~*/
.top-header					{ height:80px;}

/*~~~~~~~~~~Font Size~~~~~~~~~~~~~*/
.font-24					{ font-size:24px; font-weight:lighter;}
.font-16					{ font-size:16px; }
.font-14                    { font-size:14px;}
.font-13					{ font-size:13px; }
.font-11                    { font-size:11px;}
.font-10					{ font-size:10px;}
.bold						{ font-weight:bold;}

/*~~~~~~~~~~Menu~~~~~~~~~~~~~*/
.menu						{ margin-top:33px;}
.menu li					{ display:inline-block; }
.menu li a					{ border-top:#106cad solid 2px; display:inline-block; cursor:pointer; color:#fff; border-radius:5px 5px 0 0; text-decoration:none; font-weight:bold; padding:6px 15px;}
.menu li a:hover, 
.menu li a.actived			{ background:#fff; border-top:#106cad solid 2px; color:#5a646d; text-shadow:none;}

.menu-invers                { display:inline-block; }
.menu-invers a              { display:inline-block; cursor:pointer; color:#5a646d; border-radius:5px 5px 0 0; text-decoration:none; font-weight:bold; padding:6px 10px; border:#F1F1F2 solid 1px; border-bottom:0;}
.menu-invers a:hover,
.menu-invers a.actived      { background:#106cad; color:#fff;}
			

/*~~~~~~~~~~form control~~~~~~~~~~~~~*/
.text						{ background:#fdffe9; border:#daddca solid 1px;}
.dropdown-gray				{ 
							  background-image: -moz-linear-gradient(top, #fdffe9, #fdffe9);
							  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdffe9), to(#fdffe9));
							  background-image: linear-gradient(to bottom, #fdffe9, #fdffe9);
    color:#74756a; text-shadow:1px 1px 0 #fdffe9;
                              border:#e0e0e0 solid 1px;
}
.dropdwon-gray i			{
							  background-image: -moz-linear-gradient(top, #fdffe9, #fdffe9);
							  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdffe9), to(#fdffe9));
							  background-image: linear-gradient(to bottom, #fdffe9, #fdffe9);
							  border-right:#778085 solid 1px;
}

.btn-find-job				{
							  background-image: -moz-linear-gradient(top, #ff6464, #f25252);
							  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff6464), to(#f25252));
							  background-image: linear-gradient(to bottom, #ff6464, #f25252);
							  border-right:#778085 solid 1px;
}

/*~~~~~~~~~~background, color, border~~~~~~~~~*/
.bg-white					{ background:#fff;}
.bg-gray					{ background:#F1F1F2;}
.bg-blue					{ background:#106cad;}
.bg-red						{ background:#106cad;}
.bg-green					{ background:#52B000;}
.bg-pink					{ background:#FF0AF2;}


.color-black				{ color:#000;}
.color-white				{ color:#fff;}
.color-light-black			{ color:#333;}
.color-ultra-light-black	{ color:#666;}
.color-active				{ color:#5a646d;} 
.color-yellow				{ color:#F3AD12;}
.color-link					{ color:#1487c0;}
.color-green				{ color:#52B000;}
.color-pink					{ color:#FF0AF2;}
.color-red                  { color:#e00b0b;}
.color-blue                 { color:#106cad;}


.border-light-gray			{ border:#eaeaea solid 1px;}
.border-gray				{ border:#ccc    solid 1px;}
.no-border					{ border:0;}
.no-border-left             { border-left:0;}
.no-border-right            { border-right:0;}
.border-top-blue			{ border-top:#106cad solid 3px;}
.border-bottom-blue			{ border-bottom:#106cad solid 2px !important;}
.border-bottom-gray			{ border-bottom:#CCC solid 1px;}
.border-top-gray			{ border-top:#CCC solid 1px;}
.border-left-gray           { border-left:#ccc solid 1px;}
.border-right-gray          { border-right:#ccc solid 1px;}
.border-radius-5			{ border-radius: 5px;}
.border-radius-top-5        { border-top-right-radius:5px; border-top-left-radius:5px;}
.border-radius-bottom-5     { border-bottom-right-radius:5px; border-bottom-left-radius:5px;}
.border-radius-0            { border-radius:0;}



/*~~~~~~~~~~gradient background~~~~~~~~~*/
.bg-gradient-light-gray		{
    background-image: -moz-linear-gradient(top, #efefef, #e0e0e0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#efefef), to(#e0e0e0));
    background-image: linear-gradient(to bottom, #efefef, #e0e0e0);
    color:#74756a;
}
.bg-gradient-dark-gray		{
    background-image: -moz-linear-gradient(top, #fdffe9, #fdffe9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdffe9), to(#fdffe9));
    background-image: linear-gradient(to bottom, #fdffe9, #fdffe9);
    color:#74756a; border:#e0e0e0 solid 1px;
}


/*~~~~~~~~~~General~~~~~~~~~*/
.tail-cat                   { margin-top:-8px; margin-right:-5px; border-radius: 0 5px 5px 0; padding:10px; cursor:pointer;}


/*~~~~~~~~~~General~~~~~~~~~*/
.tr-job                     { cursor:pointer;}
/*~~~~~~~~Override~~~~~~~~~*/
.nav > li > a               { padding: 5px 10px; font-weight:bold;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    border-color: #106cad; border-bottom: none; font-weight:bold; background:#106cad; color:#fff;
}
.nav > li > a:hover, .nav > li > a:focus {
    border-color: #106cad; border-bottom: none; font-weight:bold; background:#106cad; color:#fff;
}
.nav-tabs                   { border-bottom:none;}
.margin-top-10              { margin-top: 10px;}
.margin-top-5               { margin-top: 5px;}
.btn-group > .dropdown-gray:hover     { background-image: linear-gradient(to bottom, #fdffe9, #fdffe9);
                              border: 1px solid #e0e0e0;  color: #74756a; text-shadow: 1px 1px 0 #fdffe9; }
.background-white       {background: #ffffff;}
.border-bottom-gray-light			{ border-bottom:#F1F1F1 solid 1px;}
.padding-bottom-11   { padding-bottom: 11px;}
.padding-right-30   {padding-right: 30px;}
.margin-top-0   {margin-top: 0;}
.padding-right-11   {padding-right: 11px;}
.height-514     { height: 514px;}
.margin-bottom-dus-11   { margin-bottom: -11px;}
.margin-top-35       { margin-top: 35px;}
.about-li li {list-style: disc;}
.service-table table th { background: #DBE5F1;}
.service-table table td:first-child { background: #FDE9D9;text-align: left;}
.service-table table, th, td { border: 1px solid #4BACC6 !important;text-align: center;}

ul.ul-edu li:first-child {display: inline-table;margin-left:0px;}
ul.ul-edu li {display: inline-table;}

